{% extends 'base_guest.html' %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <h1>Create Account 🚀</h1>

        <p>Join AI Startup Validator</p>

        {% if error %}
        <div class="error-box">
            {{ error }}
        </div>
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="auth-btn">
                Register
            </button>

        </form>

        <p class="auth-footer">

            Already have an account?

            <a href="{% url 'login' %}">
                Login
            </a>

        </p>

    </div>

</div>

{% endblock %}